{% extends "base.html" %}


{% block conteudo %}


<h1>
Gerenciar produtos
</h1>


<div class="card p-3">


<table class="table">


<thead>

<tr>

<th>Produto</th>
<th>Quantidade</th>
<th>Mínimo</th>
<th>Preço</th>
<th>Ações</th>

</tr>

</thead>


<tbody>


{% for p in produtos %}


<tr>


<td>
{{p.nome}}
</td>


<td>
{{p.quantidade}}
</td>


<td>
{{p.minimo}}
</td>


<td>
R$ {{p.preco}}
</td>


<td>


<a 
href="/editar/{{p.id}}"

class="btn btn-warning btn-sm">

Editar

</a>



<a 
href="/excluir/{{p.id}}"

class="btn btn-danger btn-sm">

Excluir

</a>



</td>


</tr>



{% endfor %}


</tbody>


</table>


</div>


{% endblock %}