{% extends "base.html" %}

{% block conteudo %}

<h1 class="mb-4">Dashboard</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <div class="card shadow p-3">
            <h3>Produtos cadastrados</h3>
            <h1>{{ total }}</h1>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow p-4"> <h3>⚠️ Estoque baixo</h3>
            <h1 class="text-danger">{{ alertas }}</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card shadow p-4">
            <canvas id="graficoEstoque" style="max-height: 400px;"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById("graficoEstoque");

    new Chart(ctx, {
        type: "bar",
        data: {
            // O '| safe' garante que o Jinja não quebre as aspas das strings no JavaScript
            labels: {{ nomes | tojson | safe }},
            datasets: [{
                label: "Quantidade atual",
                data: {{ quantidades | tojson | safe }},
                borderWidth: 1,
                backgroundColor: 'rgba(220, 53, 69, 0.2)', // Cor vermelha clara (combina com o 'text-danger' do estoque baixo)
                borderColor: 'rgba(220, 53, 69, 1)'        // Borda vermelha escura
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false, // Permite que o gráfico respeite o 'max-height' que colocamos na tag style
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: "Produtos abaixo do estoque mínimo",
                    font: {
                        size: 16
                    }
                }
            }
        }
    });
</script>

{% endblock %}