{% extends "base.html" %}


{% block conteudo %}


<h1>
📦 Estoque
</h1>



<input 
class="form-control mb-3"
id="busca"
placeholder="Buscar produto..."
>



<table class="table table-dark">


<thead>

<tr>

<th>Produto</th>

<th>Quantidade</th>

<th>Mínimo</th>

<th>Status</th>


</tr>


</thead>


<tbody>


{% for p in produtos %}


<tr>


<td>
{{p.nome}}
</td>


<td>
{{p.quantidade}}
</td>


<td>
{{p.minimo}}
</td>



<td>


{% if p.quantidade <= p.minimo %}


<span class="badge bg-danger">

Baixo

</span>


{% else %}


<span class="badge bg-success">

OK

</span>


{% endif %}


</td>



</tr>



{% endfor %}


</tbody>


</table>



<script>

document
.getElementById("busca")
.addEventListener("keyup",function(){


let valor=this.value.toLowerCase();



document
.querySelectorAll("tbody tr")
.forEach(linha=>{


linha.style.display =

linha.innerText
.toLowerCase()
.includes(valor)
?
""
:
"none";


});



});


</script>



{% endblock %}